#filter-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.search-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 0.8px solid rgb(226, 232, 240);
  padding: 24px;
}

.search-content,
.sort-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-label,
.sort-label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(2, 8, 23);
}

.search-input,
.sort-button {
  width: 100%;
  height: 40px;
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 6px;
}

.search-input {
  box-sizing: border-box;
  padding: 0;
  color: rgb(2, 8, 23);
  font-size: 14px;
  padding: 8px 12px;
}

.sort-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  color: rgb(2, 8, 23);
  cursor: pointer;
  font-size: 14px;
}

.dropdown-button-container {
  all: unset;
  position: relative;
}

.dropdown-container {
  display: none;
  position: absolute;
  width: 100%;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 6px;
  margin: 5px;
  height: 40px;
  .addEventListener("click", () => setButtonText(lowToHighDropdown));
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: rgb(211, 206, 206);
}

.show {
  display: block;
}
