#login-section {
  display: flex;
  justify-content: center;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 16px;
  width: 448px;
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 8px;
}

.instructions-container {
  padding: 24px;
}

.instructions-heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: rgb(2, 8, 23);
  font-weight: 600;
}

.instructions-paragraph {
  margin-top: 4px;
  margin-bottom: 0;
  color: rgb(100, 116, 139);
  font-size: 14px;
  font-weight: 500;
}

.form-label {
  color: rgb(2, 8, 23);
  font-size: 14px;
  font-weight: 500;
}

.form-input {
  border: 0.8px solid rgb(226, 232, 240);
  padding: 8px 12px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  height: 40px;
  box-sizing: border-box;
}

.login-button {
  border-radius: 6px;
  background-color: rgb(139, 92, 246);
  color: rgb(248, 250, 252);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.login-button:hover {
  background-color: rgb(124, 58, 237);
}

.email-password-container {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.email-container,
.password-container {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
