.product-card {
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title-description-price-add {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ptoduct-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(2, 8, 23);
}

.product-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

.product-price {
  color: rgb(2, 8, 23);
  font-size: 18px;
  font-weight: 700;
  align-self: center;
}

.add-button {
  all: unset;
  padding: 0 12px;
  color: white;
  background-color: rgb(139, 92, 246);
  line-height: 20px;
  display: flex;
  gap: 10px;
  border-radius: 6px;
  font-size: 14px;
  color: rgb(248, 250, 252);
  font-weight: 500;
  height: 36px;
  align-items: center;
}

.add-button:hover {
  background-color: rgb(124, 58, 237);
}
