.footer-section {
  background-color: rgb(249, 250, 251);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  border: 0.8px solid rgb(226, 232, 240);
  display: flex;
  gap: 40px;
  padding: 48px 16px;
  margin-top: 40px;
}

.invitation-shop {
  display: flex;
  gap: 40px;
  width: 50%;
}

.account-support {
  display: flex;
  gap: 40px;
  width: 50%;
}

.footer-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shop-heading,
.account-heading,
.support-heading {
  color: rgb(2, 8, 23);
  font-size: 16px;
  font-weight: 500;
}

.invitation-heading {
  color: rgb(139, 92, 246);
  font-size: 18px;
  font-weight: 600;
}

.invitation-paragraph {
  color: rgb(75, 85, 99);
  font-size: 14px;
  line-height: 20px;
}

.shop-link,
.account-link,
.support-link {
  color: rgb(75, 85, 99);
  font-size: 14px;
  text-decoration: none;
}

.shop-link:hover,
.account-link:hover,
.support-link:hover {
  color: rgb(139, 92, 246);
}

@media (max-width: 768px) {
  .footer-section {
    flex-direction: column;
  }

  .account-support,
  .invitation-shop {
    flex-direction: column;
  }

  .footer-column {
    width: 100%;
  }
}
