#products-list {
  border: 2px solid yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 800px) {
  #products-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #products-list {
    grid-template-columns: 1fr;
  }
}
